@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Clothing Tracker App</h1>
    <p> <a class="navbar-brand" asp-area="" asp-controller="ClothingItems" asp-action="Index">Manage Clothing Items</a> </p>
</div>
