@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Clothing Tracker App</h1>
    <p> <a class="navbar-brand btn btn-primary" asp-area="" asp-controller="ClothingItems" asp-action="Index">Manage Clothing Items</a> </p>
    <p> <a class="navbar-brand btn btn-primary" asp-area="" asp-controller="ClothingItems" asp-action="Create"><i class="bi bi-plus-square button-icon"></i>Add New Clothing Item</a> </p>
</div>
